<nav class="navbar navbar-default navbar-fixed-top nav-main" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand logo e-eleven" href="/"><span class="small">de</span> <em class="gray">entre</em>preneur</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#introductie" class="smoothscroller">introductie</a></li>
        <li><a href="#locatie" class="smoothscroller">locatie</a></li>
        <li><a href="#prijzen" class="smoothscroller">prijzen</a></li>
        <li><a href="#contact" class="smoothscroller">contact</a></li>
      </ul>
      <!--<a class="pand-nav-toggle" href="#" rel="tooltip" data-toggle="tooltip" data-placement="left" title="De panden" data-toggle-st="pand-nav">
        <i class="fa fa-building"></i>
      </a>-->
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<nav class="pand-nav">
  <ul class="pand-list">
    <li class="sharebiz-zoet">Sharebiz Zoetermeer</li>
    <li class="comm-horst">Communicatiehuis Horst</li>
    <li class="start-zoet">Startup Center Zoetermeer</li>
    <li class="ent-zoetermeer">The Entrepeneur Zoetermeer</li>
  </ul>
</nav>