<!-- load jquery -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="_bower_components/jquery/dist/jquery.min.js"><\/script>')</script>

<!-- build:js(app) /js/script.js -->
<script src="_bower_components/bootstrap-sass-twbs/assets/javascripts/bootstrap.js"></script>

<script src="_bower_components/jquery-waypoints/waypoints.min.js"></script>

<script src="/js/main.js"></script>

<script type="text/javascript">
    $(function () {
        $("[rel='tooltip']").tooltip();
    });
</script>
<!-- endbuild -->
