<!-- load jquery -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="_bower_components/jquery/dist/jquery.min.js"><\/script>')</script>

<!-- build:js(app) /js/script.js -->
<script src="_bower_components/bootstrap-sass-twbs/vendor/javasscripts/bootstrap/affix.js"></script>
<script src="_bower_components/bootstrap-sass-twbs/vendor/javasscripts/bootstrap/alert.js"></script>
<script src="_bower_components/bootstrap-sass-twbs/vendor/javasscripts/bootstrap/button.js"></script>
<script src="_bower_components/bootstrap-sass-twbs/vendor/javasscripts/bootstrap/carousel.js"></script>
<script src="_bower_components/bootstrap-sass-twbs/vendor/javasscripts/bootstrap/collapse.js"></script>
<script src="_bower_components/bootstrap-sass-twbs/vendor/javasscripts/bootstrap/dropdown.js"></script>
<script src="_bower_components/bootstrap-sass-twbs/vendor/javasscripts/bootstrap/modal.js"></script>
<script src="_bower_components/bootstrap-sass-twbs/vendor/javasscripts/bootstrap/popover.js"></script>
<script src="_bower_components/bootstrap-sass-twbs/vendor/javasscripts/bootstrap/scrollspy.js"></script>
<script src="_bower_components/bootstrap-sass-twbs/vendor/javasscripts/bootstrap/tab.js"></script>
<script src="_bower_components/bootstrap-sass-twbs/vendor/javasscripts/bootstrap/tooltip.js"></script>
<script src="_bower_components/bootstrap-sass-twbs/vendor/javasscripts/bootstrap/transition.js"></script>

<script src="_bower_components/jquery-waypoints/waypoints.min.js"></script>

<script src="/js/main.js"></script>
<!-- endbuild -->
